@page
@model Footballers3.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Footballer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Footballer?.ID">Edit</a> |
    <a asp-page="./Table">Back to List</a>
</div>
